.accountinfo {
    width: 95%;
    padding: 2%;
    margin: 2%;
}

@media only screen and (min-width: 1000px) {
    .accountinput {
        width: 48%;
        margin: 0 auto;
    }

    .accountinput2 {
        width: 31%;
        margin: 0 auto;
    }


    .accountpassword {
        width: 40%;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1000px) {
    .accountinput {
        width: 95%;
    }
    .accountinput2 {
        width: 95%;
    }
}

.diagramdiv{
    margin-bottom: 5%;
}