.accountinfo {
    width: 95%;
    padding: 2%;
    margin: 2%;
    float: left;
}

.accountinput {
    width: 95%;
}
@media only screen and (min-width: 800px) {
.accountpassword {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}
}