.goodentriealert {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.calendar_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.acceptAppointment_button {
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    color: grey;
    background-color: transparent;
    border-color: transparent;
    border-image: initial;
    font-size: 2.5em;
    transition: 0.5s ease;
    backface-visibility: hidden;
}
.denyAppointment_button {
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    color: grey;
    background-color: transparent;
    border-color: transparent;
    border-image: initial;
    font-size: 2.5em;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.apointmentCard {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: white !important ;
}
.apointmentCardLight {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-color: rgba(255, 255, 255, 0.849) !important;
    color: black !important ;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

.acceptAppointment_button :hover {
    transition: 0.5s ease;
    color: green;
}

.denyAppointment_button:hover {
    transition: 0.5s ease;
    color: rgb(204, 17, 17);
}

.appointmentText {
    font-family: "Raleway", sans-serif;
    font-size: 1.4rem;
}
.appointmentText__form {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
