.goodentriealert {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.calendar_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.acceptAppointment_button {
    -webkit-appearance: none;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: grey;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: transparent;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: transparent;
    border-image: initial;
    font-size: 3em;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.appointmentButton:hover {
    transition: 0.5s ease;

    color: green;
}
